<!DOCTYPE html>
<html lang="fr" dir="ltr" class="sid-plesk">
<head>
    <title>Emploi Du Temps | L3_</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.5, minimum-scale=0.5">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta property="og:site_name" content="L3_ | Orléans">
    <meta name="description" content="Voici l'emploi du temps des L3 Miage d'Orléans">
    <link href="/assets/img/l3_.png" rel="shortcut icon">
    <link rel="stylesheet" href="/assets/css/global.css?v=1">
    <meta property="og:image" content="/assets/img/l3large.png" />
    <meta name="theme-color" content="#07a89e"/>
    <link rel="apple-touch-icon" sizes="128x128" href="/assets/img/l3large.png">
    <link rel="manifest" href="manifest.webmanifest"/>
</head>
<body>

<div id="mainContent">
    <div class="header centeritem">
        <a href="/edt">
            <img alt="logo" src="/assets/img/l3_b.png" class="logo"></img>
        </a>
        <a id="color-switch" href="#">
            <img id="icon_switch" class="color-switch" src="/assets/img/dark_mode.svg"></img>
        </a>
        <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/serviceworker.js");
        }
        function getCookie(cookieName) {
            let cookie = {};
            document.cookie.split(';').forEach(function(el) {
                let [key,value] = el.split('=');
                cookie[key.trim()] = value;
            })
            return cookie[cookieName];
        }
        var cookie = getCookie("color_theme");
        var flipflop = false;
        if(cookie != ""){
            dark = cookie=="dark";
            img = document.getElementById("icon_switch");
            if(dark){
                img.src = "/assets/img/light_mode.svg";
                document.documentElement.classList.add("dark-mode");
            }
            else{
                img.src = "/assets/img/dark_mode.svg";
                document.documentElement.classList.remove("dark-mode");
            }
        }
        </script>
        {% block nav %}
        {% endblock %}
    </div>

    {% block container %}{% endblock %}


{% if iphone == true and pwa == false %}
    <br>
<div class="centeritem">
    <div class="cards">
        <div style="display: flex;flex-wrap: nowrap;flex-direction: row;justify-content: space-between;align-items: center;gap: 15px;">
            <div>
                <img style="border-radius:8px;height:42px;transform: translateY(2px);" src="/assets/img/l3large.png"></img>
            </div>
            <div>
                <p style="margin:0px;">Installez <l3>L3_</l3> sur votre appareil !<br>Cliquez sur <img id="icon" style="height:20px;transform: translateY(6px);" src="/assets/img/share.svg"/> puis sur <img id="icon" style="height:18px;transform: translateY(4px);" src="/assets/img/add-ios.svg"/> depuis Safari.</p>
            </div>
        </div></div>

{% elseif android == true and pwa == false %}
        <div class="centeritem">
        <div class="cards">
            <div style="display: flex;flex-wrap: nowrap;flex-direction: row;justify-content: space-between;align-items: center;gap: 15px;">
                <div>
                    <img style="border-radius:8px;height:42px;transform: translateY(2px);" src="/assets/img/l3large.png"></img>
                </div>
                <div>
                    <p style="margin:0px;">Installez <l3>L3_</l3> sur votre appareil !<br>Cliquez sur <img id="icon" style="height:20px;transform: translateY(4px);" src="/assets/img/androiddot.svg"/> puis sur <img id="icon" style="height:18px;transform: translateY(2px);" src="/assets/img/androidistall.svg"/> depuis Chrome.</p>
                </div>
            </div></div>
{% endif %}
        </div>


    <footer class="center">
        <div class="centeritem helpus">
            <a href="https://github.com/LeMustelide/EmploisDuTemps_Univ-Orleans" target="_blank" style="text-decoration:none;">
                <div class="cards">
                    Tu souhaites nous aider ? Viens soumettre tes idées et correctifs depuis le <u>GitHub du projet</u> !
                </div>
            </a>
        </div>
        <p>Réalisé avec <span class="red">❤</span> par<br>
            <a href="https://marcvirgili.fr" target="_blank">Marc Virgili</a> - <a href="https://lykos.vortexdev.fr/" target="_blank">LyKøs</a> - <a href="https://github.com/AlbanW" target="_blank">Alban Weill</a>
        </p>
    </footer>
    {% block javascript %}{% endblock %}
    <script>
        var flipflop = dark;
        button = document.getElementById("color-switch");
        button.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark-mode");    
            img = document.getElementById("icon_switch");
            if(flipflop){
                flipflop = !flipflop;
                img.src = "/assets/img/dark_mode.svg";
                document.cookie = "color_theme=light;path=/";
            }
            else{
                flipflop = !flipflop;
                img.src = "/assets/img/light_mode.svg";
                document.cookie = "color_theme=dark;path=/";
            }
        });
    </script>
    <script type="text/javascript" src="https://cdn.vortexdev.fr/l3/merci.js"></script>
</div>
</div>
</body>
</html>